<%= partial :back %>
<h1 class = "center">
  A game eventually
</h1>
<div id = "wrapper">
  <% mid = "$" %>
  <% inner = 1 %>
  <% middle = 1 %>
  <% baseOuter = 1 %>
  <% base = 1 %>
  <% 6.times do |n| %>
    <div id = "section<%= n*2 %>" class="section">
      <div class="container">
        <ol class="even nothing-up face-to-face-down">
          <li class='hex base' id='base<%= base %>'>
            <div class="content info">
              <p class='id'><%= base %></p>
              <% base += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
        </ol>
        <ol class="odd face-to-face-up point-to-point-down">
          <li class='hex' id='outer<%= baseOuter %>'>
            <div class="content info">
              <p class='id'><%= baseOuter %></p>
              <% baseOuter += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
          <li class='hex' id='outer<%= baseOuter %>'>
            <div class="content info">
              <p class='id'><%= baseOuter %></p>
              <% baseOuter += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
        </ol>
        <ol class="odd point-to-point-up face-to-face-down">
          <li class='hex' id='middle<%= middle %>'>
            <div class="content info">
              <p class='id'><%= middle %></p>
              <% middle += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
          <li class='hex' id='middle<%= middle %>'>
            <div class="content info">
              <p class='id'><%= middle %></p>
              <% middle += 1 %>
            </div>
            <div class="content units">
              <p>40 C2</p>
              <p>40 C3</p>
              <p>45 I3</p>
              <p>44 I2</p>
              <p>46 A2</p>
            </div>
          </li>
        </ol>
        <ol class="even face-to-face-up point-to-point-down">
          <li class='hex inner' id='inner<%= inner %>'>
            <div class="content info">
              <p class='id'><%= inner %></p>
              <% inner += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
        </ol>
        <ol class="even point-to-point-up nothing-down">
          <li class='hex blank'></li>
        </ol>
      </div>
    </div>
    <div id = "section<%= (n*2)+1 %>" class="section">
      <div class="container">
        <ol class="odd nothing-up point-to-point-down">
          <li class='hex' id='middle<%= middle %>'>
            <div class="content info">
              <p class='id'><%= middle %></p>
              <% middle += 1 %>
            </div>
            <div class="content units">
              <p>0 P</p>
            </div>
          </li>
        </ol>
        <ol class="odd point-to-point-up point-to-point-down">
          <li class='hex inner' id='inner<%= inner %>'>
            <div class="content info">
              <p class='id'><%= inner %></p>
              <% inner += 1 %>
            </div>
            <div class="content units">
              <p>2 I2</p>
            </div>
          </li>
        </ol>
        <ol class="odd point-to-point-up nothing-down">
          <li class='hex blank half'></li>
        </ol>
      </div>
    </div>
  <% end %>
  <div id="section12" class="center section">
    <div class="container">
      <ol class="center odd nothing-up nothing-down">
        <li class="center hex" id='<%= mid %>'>
          <div class="content info">
            <p class='id mid'><%= mid %></p>
          </div>
          <div class="content units">
            <p>79 C2</p>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <svg id="paths"></svg>
</div>


<script>
  let game = document.getElementById('wrapper')
  let mid = document.getElementById('$')
  let inner2 = document.getElementById('inner2')
  let paths = document.getElementById('paths')

  let drawLine = null;
  {
    let svgNS = "http://www.w3.org/2000/svg"
    let createLine = function(values) {
      let line = document.createElementNS(svgNS, 'line')
      line.setAttributeNS(null, 'stroke', 'darkgreen')
      line.setAttributeNS(null, 'stroke-width', 5)
      for (let property in values) {
        line.setAttributeNS(null, property, values[property]);
      }
      paths.appendChild(line)
    }

    function bounds(element) {
      return element.getBoundingClientRect()
    }
    drawLine = function(element1, element2) {
      createLine({
        x1: (bounds(element1).x + (bounds(element1).width/2)) - bounds(paths).x,
        y1: (bounds(element1).y + (bounds(element1).height/2)) - bounds(paths).y,
        x2: (bounds(element2).x + (bounds(element2).width/2)) - bounds(paths).x,
        y2: (bounds(element2).y + (bounds(element2).height/2)) - bounds(paths).y
      })
    }
  }

  drawLine(mid, inner2)

  console.log("done")
</script>
