<%= partial :back %>
<h1 class = "center">
  A game eventually
</h1>
<div id = "flex-wrapper">
  <div id = "armies">
    <div id = "armies-all">
      <h2>Armies at Base 1</h2>
      <ol>
        <li>
          <input type='checkbox' id='40 C2'>
            <label for='40 C2'>40 C2</label>
          </input>
        </li>
        <li>
          <input type='checkbox' id='40 C3'>
            <label for='40 C3'>40 C3</label>
          </input>
        </li>
        <li>
          <input type='checkbox' id='45 I3'>
            <label for='45 I3'>45 I3</label>
          </input>
        </li>
      </ol>
    </div>
    <div id = "armies-selected">
      <h2>Selected</h2>
      <ol>
        <li>
          <input type='checkbox' id='45 I3' checked>
            <label for='45 I3'>45 I3</label>
          </input>
        </li>
        <li>
          <input type='checkbox' id='40 C3' checked>
            <label for='40 C3'>40 C3</label>
          </input>
        </li>
      </ol>
    </div>
    <button id = "armies-attack">Attack</button>
  </div>
  <div id = "map">
    <% mid = "$" %>
    <% inner = 1 %>
    <% middle = 1 %>
    <% outer = 1 %>
    <% base = 1 %>
    <% water = 1 %>
    <% 6.times do |n| %>
      <div id = "section<%= n*2 %>" class="section">
        <div class="container">
          <ol class="even nothing-up face-to-face-down">
            <li class='hex base' id='base<%= base %>'>
              <div class="content info">
                <p class='id'><%= base %></p>
                <% base += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
          </ol>
          <ol class="odd face-to-face-up point-to-point-down">
            <li class='hex' id='outer<%= outer %>'>
              <div class="content info">
                <p class='id'><%= outer %></p>
                <% outer += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
            <li class='hex' id='outer<%= outer %>'>
              <div class="content info">
                <p class='id'><%= outer %></p>
                <% outer += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
          </ol>
          <ol class="odd point-to-point-up face-to-face-down">
            <li class='hex' id='middle<%= middle %>'>
              <div class="content info">
                <p class='id'><%= middle %></p>
                <% middle += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
            <li class='hex' id='middle<%= middle %>'>
              <div class="content info">
                <p class='id'><%= middle %></p>
                <% middle += 1 %>
              </div>
              <div class="content units">
                <p>40 C2</p>
                <p>40 C3</p>
                <p>45 I3</p>
                <p>44 I2</p>
                <p>46 A2</p>
              </div>
            </li>
          </ol>
          <ol class="even face-to-face-up point-to-point-down">
            <li class='hex inner' id='inner<%= inner %>'>
              <div class="content info">
                <p class='id'><%= inner %></p>
                <% inner += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
          </ol>
          <ol class="even point-to-point-up nothing-down">
            <li class='hex blank'></li>
          </ol>
        </div>
      </div>
      <div id = "section<%= (n*2)+1 %>" class="section">
        <div class="container">
          <ol class="odd nothing-up point-to-point-down">
            <li class='hex water', id='water<%= water %>'>
              <div class="content info">
                <p class='id'><%= water %></p>
                <% water += 1 %>
              </div>
              <div class="content units">
                <p>1000</p>
              </div>
            </li>
          </ol>
          <ol class="odd point-to-point-up point-to-point-down">
            <li class='hex blank half'></li>
          </ol>
          <ol class="odd point-to-point-up point-to-point-down">
            <li class='hex' id='middle<%= middle %>'>
              <div class="content info">
                <p class='id'><%= middle %></p>
                <% middle += 1 %>
              </div>
              <div class="content units">
                <p>0 P</p>
              </div>
            </li>
          </ol>
          <ol class="odd point-to-point-up point-to-point-down">
            <li class='hex inner' id='inner<%= inner %>'>
              <div class="content info">
                <p class='id'><%= inner %></p>
                <% inner += 1 %>
              </div>
              <div class="content units">
                <p>2 I2</p>
              </div>
            </li>
          </ol>
          <ol class="odd point-to-point-up nothing-down">
            <li class='hex blank half'></li>
          </ol>
        </div>
      </div>
    <% end %>
    <div id="section12" class="center section">
      <div class="container">
        <ol class="center odd nothing-up nothing-down">
          <li class="center hex" id='<%= mid %>'>
            <div class="content info">
              <p class='id mid'><%= mid %></p>
            </div>
            <div class="content units">
              <p>79 C2</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <svg id="paths"></svg>
  </div>
  <div id = "info">
    <h2>Base 1 Info</h2>
    <h3>Control</h3>
    <p>Player 2</p>
    <h3>Structures</h3>
    <p>0 Mines</p>
    <p>Wall</p>
    <p>No Castle</p>
    <div id="info-build-units">
      <h3>Buy Units</h3>
      <div class="buy">
        <label for="archers">Archers</label>
        <p>20 Gold</p>
        <input type="number" id="archers"></input>
      </div>
      <div class="buy">
        <label for="calvary">Calvary</label>
        <p>20 Gold</p>
        <input type="number" id="calvary"></input>
      </div>
      <div class="buy">
        <label for="infantry">Infantry</label>
        <p>20 Gold</p>
        <input type="number" id="infantry"></input>
      </div>
      <div class="buy">
        <label for="rams">Battering Ram</label>
        <p>1500 Gold</p>
        <input type="number" id="rams"></input>
      </div>
    </div>
    <div id="info-buttons">
      <button>Build Castle</button>
      <button>Build Mine</button>
      <button>Build Wall</button>
      <button>Raze down</button>
    </div>
  </div>
  <div id = "players">
    <ul>
      <li>
        <h2>Player 1</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <div class="player-info">
          <p>Archers Level 2</p>
          <button>Upgrade</button>
        </div>
        <div class="player-info">
          <p>Calvary Level 1</p>
          <button>Upgrade</button>
        </div>
        <div class="player-info">
          <p>Infantry Level 3</p>
          <button>Upgrade</button>
        </div>
        <button>End Turn</button>
      </li>
      <li>
        <h2>Player 2</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <p>Archers Level 2</p>
        <p>Calvary Level 1</p>
        <p>Infantry Level 3</p>
      </li>
      <li>
        <h2>Player 3</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <p>Archers Level 2</p>
        <p>Calvary Level 1</p>
        <p>Infantry Level 3</p>
      </li>
      <li>
        <h2>Player 4</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <p>Archers Level 2</p>
        <p>Calvary Level 1</p>
        <p>Infantry Level 3</p>
      </li>
      <li>
        <h2>Player 5</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <p>Archers Level 2</p>
        <p>Calvary Level 1</p>
        <p>Infantry Level 3</p>
      </li>
      <li>
        <h2>Player 6</h2>
        <h3>Resources</h3>
        <p>Gold: 500</p>
        <p>Archers Level 2</p>
        <p>Calvary Level 1</p>
        <p>Infantry Level 3</p>
      </li>
    </ul>
  </div>
</div>

<script>
  let game = document.getElementById('map')
  let mid = document.getElementById('$')
  let inner2 = document.getElementById('inner2')
  let paths = document.getElementById('paths')

  let drawLine = null;
  {
    let svgNS = "http://www.w3.org/2000/svg"
    let createLine = function(values) {
      let line = document.createElementNS(svgNS, 'line')
      line.setAttributeNS(null, 'stroke-width', 12)
      for (let property in values) {
        line.setAttributeNS(null, property, values[property]);
      }
      paths.appendChild(line)
    }

    function bounds(element) {
      return element.getBoundingClientRect()
    }
    drawLine = function(element1, element2) {
      let color = 'darkgreen'
      if (element1.id.includes('water') || element2.id.includes('water')) {
        color = 'skyblue'
      }
      createLine({
        x1: (bounds(element1).x + (bounds(element1).width/2)) - bounds(paths).x,
        y1: (bounds(element1).y + (bounds(element1).height/2)) - bounds(paths).y,
        x2: (bounds(element2).x + (bounds(element2).width/2)) - bounds(paths).x,
        y2: (bounds(element2).y + (bounds(element2).height/2)) - bounds(paths).y,
        stroke: color
      })
    }
  }

  let graph = {
    '$': ['inner2', 'inner4', 'inner6', 'inner8', 'inner10', 'inner12'],
    inner1: ['inner2', 'inner12', 'middle1', 'middle2'],
    inner2: ['$', 'inner1', 'inner3', 'middle3'],
    inner3: ['inner2', 'inner4', 'middle4', 'middle5'],
    inner4: ['$', 'inner3', 'inner5', 'middle6'],
    inner5: ['inner4', 'inner6', 'middle7', 'middle8'],
    inner6: ['$', 'inner5', 'inner7', 'middle9'],
    inner7: ['inner6', 'inner8', 'middle10', 'middle11'],
    inner8: ['$', 'inner7', 'inner9', 'middle12'],
    inner9: ['inner8', 'inner10', 'middle13', 'middle14'],
    inner10: ['$', 'inner9', 'inner11', 'middle15'],
    inner11: ['inner10', 'inner12', 'middle16', 'middle17'],
    inner12: ['$', 'inner1', 'inner11', 'middle18'],
    middle1: ['inner1', 'middle18', 'middle2', 'outer1', 'outer2', 'water6'],
    middle2: ['inner1', 'middle1', 'middle3', 'outer1', 'outer2', 'water1'],
    middle3: ['inner2', 'middle2', 'middle4', 'water1'],
    middle4: ['inner3', 'middle3', 'middle5', 'outer3', 'outer4', 'water1'],
    middle5: ['inner3', 'middle4', 'middle6', 'outer3', 'outer4', 'water2'],
    middle6: ['inner4', 'middle5', 'middle7', 'water2'],
    middle7: ['inner5', 'middle6', 'middle8', 'outer5', 'outer6', 'water2'],
    middle8: ['inner5', 'middle7', 'middle9', 'outer5', 'outer6', 'water3'],
    middle9: ['inner6', 'middle8', 'middle10', 'water3'],
    middle10: ['inner7', 'middle9', 'middle11', 'outer7', 'outer8', 'water3'],
    middle11: ['inner7', 'middle10', 'middle12', 'outer7', 'outer8', 'water4'],
    middle12: ['inner8', 'middle11', 'middle13', 'water4'],
    middle13: ['inner9', 'middle12', 'middle14', 'outer9', 'outer10', 'water4'],
    middle14: ['inner9', 'middle13', 'middle15', 'outer9', 'outer10', 'water5'],
    middle15: ['inner10', 'middle14', 'middle16', 'water5'],
    middle16: ['inner11', 'middle15', 'middle17', 'outer11', 'outer12', 'water5'],
    middle17: ['inner11', 'middle16', 'middle18', 'outer11', 'outer12', 'water6'],
    middle18: ['inner12', 'middle17', 'middle1', 'water6'],
    outer1: ['middle1', 'middle2', 'base1', 'water6'],
    outer2: ['middle1', 'middle2', 'base1', 'water1'],
    outer3: ['middle4', 'middle5', 'base2', 'water1'],
    outer4: ['middle4', 'middle5', 'base2', 'water2'],
    outer5: ['middle7', 'middle8', 'base3', 'water2'],
    outer6: ['middle7', 'middle8', 'base3', 'water3'],
    outer7: ['middle10', 'middle11', 'base4', 'water3'],
    outer8: ['middle10', 'middle11', 'base4', 'water4'],
    outer9: ['middle13', 'middle14', 'base5', 'water4'],
    outer10: ['middle13', 'middle14', 'base5', 'water5'],
    outer11: ['middle16', 'middle17', 'base6', 'water5'],
    outer12: ['middle16', 'middle17', 'base6', 'water6'],
    base1: ['outer1', 'outer2', 'water1', 'water6'],
    base2: ['outer3', 'outer4', 'water1', 'water2'],
    base3: ['outer5', 'outer6', 'water2', 'water3'],
    base4: ['outer7', 'outer8', 'water3', 'water4'],
    base5: ['outer9', 'outer10', 'water4', 'water5'],
    base6: ['outer11', 'outer12', 'water5', 'water6'],
    water1: ['base1', 'outer2', 'middle2', 'middle3', 'middle4', 'outer3', 'base2'],
    water2: ['base2', 'outer4', 'middle5', 'middle6', 'middle7', 'outer5', 'base3'],
    water3: ['base3', 'outer6', 'middle8', 'middle9', 'middle10', 'outer7', 'base4'],
    water4: ['base4', 'outer8', 'middle11', 'middle12', 'middle13', 'outer9', 'base5'],
    water5: ['base5', 'outer10', 'middle14', 'middle15', 'middle16', 'outer11', 'base6'],
    water6: ['base6', 'outer12', 'middle17', 'middle18', 'middle1', 'outer1', 'base1']
  }
  let lines = {}
  for (let node in graph) {
    graph[node].forEach((n) => {
      // TODO avoid drawing every line twice
      drawLine(document.getElementById(node), document.getElementById(n))
    })
  }



  console.log("done")
</script>
